<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Listado de películas
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item>  
    <ion-select  multiple="true" cancelText="Cancel" okText="Ok!" placeholder="Seleccione un género a buscar">
      <ion-label>Géneros</ion-label>
      <ion-select-option *ngFor="let genero of generos" > {{genero}} </ion-select-option>
    </ion-select>
  </ion-item>
  
  <ion-grid style="background-color:#b3daf0a2;">
    <ion-row>
      <ion-col *ngFor="let movie of movies | async " size-xl="2" size-lg="2" size-md="4" size-sm="6" size-xs="12">
        <ion-card  class="contenido">  
          <ion-card-header>
            <ion-card-subtitle><img [src]= "movie.imagen"></ion-card-subtitle>
            <ion-card-title> {{movie.titulo}}</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <p>{{movie.id}}{{ movie.genero}} <br> {{movie.idioma}} <br> {{movie.precio}}
      </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
